<p id="title" class="text">Mes réalisations</p>
<div class="content">
  <div class="cardContainer">
    <mat-card *ngFor="let project of projects" class="card" color="primary">
      <mat-card-header>
        <mat-card-title>{{project.name}}</mat-card-title>
        <mat-card-title >status : <!--- TODO: utiliser un service pour vérifier que le site est en ligne -->
          <span *ngIf="project.name == 'axek-portfolio'">🟢</span>
          <span *ngIf="project.name != 'axek-portfolio'">🔴</span>
        </mat-card-title>
        <mat-card-subtitle>Créer le : {{project.createdAt}}</mat-card-subtitle>
        <a href="{{project.htmlUrl}}"><img id="githubImg" mat-card-sm-image src="../../../assets/github.png"></a>
      </mat-card-header>
      <mat-card-content>
        <img id="overview" mat-card-image onerror='this.style.display = "none"'
          src="../../../assets/overview/{{project.name}}.png">
        <p id="description" *ngIf="project.description!=''">Description : {{project.description}}</p>
      </mat-card-content>
      <mat-card-actions id="download">
        <a href="{{project.downloadUrl}}" download><span class="material-symbols-outlined">download</span></a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
