.text {
  color: #F5F4F5;
}

@media screen and (max-width: 767px){
  #title {
    margin-top: 30%;
    font-size: xx-large;
    text-align: center;
    vertical-align: text-bottom;
  }

  .content{
    margin-bottom: 20%;
  }

  mat-card {
    width: 300px;
    margin-top: 10px;
    margin-left: 20px;
    height: auto;
    transition-duration: 0.3s;
  }

  .card:hover{
    transform: scale(1.1);
    transition-duration: 0.3s;
    z-index: 1;
    padding-left: -5px;
  }

  #overview{
    height: 100px;
  }
}

@media screen and (min-width: 768px){
  #title {
    margin-top: 20%;
    font-size: xx-large;
    text-align: center;
    vertical-align: text-bottom;
  }

  mat-card{
    width: 500px;
    margin-top: 10px;
    margin-left: 5px;
    height: auto;
    transition-duration: 0.3s;
  }

  .card:hover{
    transform: scale(1.12);
    transition-duration: 0.3s;
    z-index: 1;
    padding-left: -5px;
  }

  #overview{
    height: 200px;
  }
}

#githubImg{
  position: absolute;
  right: 0;
  top: 0;
  height: 60px;
  width: 60px;
}

a { color: inherit; }

.content{
  display: flex;
  justify-content: center;
  padding-bottom: 3em;
}

.cardContainer{
  display:flex;
  flex-wrap: wrap;
}

#download{
  position: absolute;
  right: 10px;
  top: 50px;
}

#description{
  margin-bottom: 10px;
}
