.scroll-container {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  object-fit: cover;
  mask-image: linear-gradient(black 50%, transparent 100%);
}

.name {
  font-family: 'Anton';
  font-size: 42px;
  color: white;
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 5px;
}
