.imgProfil {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 5px;
}

.name {
  position: absolute;
  left: 280px;
  top: 60px;
  font-family: 'Anton';
  color: #F5F4F5;
  font-size: 42px;
}

.age {
  position: absolute;
  left: 280px;
  top: 120px;
  font-size: 24px;
  color: #F5F4F5;
}

mat-card {
  width: 100%;
  margin-top: 15%;
  margin-bottom: 25%;
  margin-right: 20%;
  margin-left: 20%;
  opacity: 0.6;
  overflow: hidden;
}

#content {
  margin-left: 15px;
}

#infoHendaye {
  position: absolute;
  top: 51%;
  right: 22%;
  transform: translate(-78%, -49%);
}

p {
  font-size: 24px;
  text-align: center;
  vertical-align: text-bottom;
}
