<img src="../../../assets/portrait2.jpg" class="imgProfil animate__animated animate__backInLeft">
<div>
  <span class="name animate__animated animate__backInLeft">Axel Phanor</span>
  <span class="age animate__animated animate__backInLeft">24 ans</span>
</div>
<mat-card>
  <div id="content">
    <p>Bonjour, je suis un développeur web autodidacte et j'aimerai en faire mon métier !
      Je consacre mon temps libre à la voile, randonnée, et bien entendu au dev 😉.
      <br/>Si vous êtes interréssé par mon profil contacter moi a cette adresse : <span>axel.phanor64@gmail.com</span>.</p>
  </div>
</mat-card>
<!--- <span class="material-symbols-outlined" id="infoHendaye">info</span> --->
