.imgProfil{
  width: 190px;
  height: 190px;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 5px;
}

.name{
  position: absolute;
  left: 280px;
  top: 60px;
  font-family: 'Anton';
  color: #F5F4F5;
  font-size: 42px;
}

.age{
  position: absolute;
  left: 280px;
  top: 120px;
  font-size: 24px;
  color: #F5F4F5;
}
